body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main_sec {
  padding: 20px 40px;
}
.main_sec img {
  border-radius: 50%;
  width: 150px;
}
.main_sec input[type="text"] {
  border: 2px solid lightgray;
  padding: 6px 10px;
}
button[type="submit"]{
  border: 2px solid lightgray;
  padding: 6px 10px;
  cursor: pointer;
}
.inr_user_detail {
  display: flex;
  align-items: center;
  padding: 40px 0px;
}
.rgt_sec {
  padding-left: 20px;
}
.rgt_sec a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}
.rgt_sec p{
  margin: 0;
}
.rgt_sec h2 {
  margin: 0 0 10px;
}